/*Main cellphones: 480x767*/
@media screen and (min-width: 480px) and (min-height: 797px){

  .titleconfig{
      color: #ffffff;
      font-family: 'Open Sans Condensed', sans-serif;
      padding-top: 1em 0;
      display: flex;
      margin-left: 1rem;
      text-align: left;
      word-break: break-all;
  }
  
  .hr {
    border-top: 2px solid #bbb;
    padding-bottom: 0.50rem;
  }
  
  .hrtop {
      border-top: 2px solid #bbb;
      padding-inline-start: 0.50rem;
    }
  
  .textconfig {
   color: whitesmoke;
   font-size: 25px;
   font-family: 'Inder', sans-serif;
   padding: 0.25cm;
  }
  
  .blankspace{
  padding-top: 0.10cm;
  }
  
  .iconconfig{
    color: white;
    size: 50px;
    margin-left: 1rem;
  }
}

/*A32*/
@media screen and (min-width: 412px){
  .titleconfig{
      color: #ffffff;
      font-family: 'Open Sans Condensed', sans-serif;
      padding-top: 1em 0;
      display: flex;
      margin-left: 1rem;
      text-align: left;
      word-break: break-all;
  }
  
  .hr {
    border-top: 2px solid #bbb;
    padding-bottom: 0.50rem;
    width: 30rem;
  }
  
  .hrtop {
      border-top: 2px solid #bbb;
      padding-inline-start: 0.50rem;
      width: 30rem;
    }
  
  .textconfig {
   color: whitesmoke;
   font-size: 25px;
   font-family: 'Inder', sans-serif;
   padding: 0.25cm;
  }
  
  .blankspace{
  padding-top: 0.10cm;
  }
  
  .iconconfig{
    color: white;
    size: 50px;
    margin-left: 1rem;
  }
}

/*Tablets*/
@media screen and (min-width: 768px) {
  .titleconfig{
    color: #ffffff;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: xx-large;
    padding-top: 1em 0;
    display: flex;
    margin-left: 1rem;
    text-align: left;
    word-break: break-all;
}
.imgconfig{
  width: 768;
  height: 520;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.hr {
  border-top: 2px solid #bbb;
  padding-bottom: 0.50rem;
  width: 49.99rem;
}

.hrtop {
    border-top: 2px solid #bbb;
    padding-inline-start: 0.50rem;
    width: 49.99rem;
  }

.textconfig {
 color: whitesmoke;
 font-size: 25px;
 font-family: 'Inder', sans-serif;
 padding: 0.25cm;
}

.blankspace{
padding-top: 0.10cm;
}

.iconconfig{
  color: white;
  size: 50px;
  margin-left: 1rem;
}
}


/*Tablets*/
@media screen and (min-width: 768px) {
  .titleconfig{
    color: #ffffff;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: xx-large;
    padding-top: 1em 0;
    display: flex;
    margin-left: 1rem;
    text-align: left;
    word-break: break-all;
  }
  .imgconfig{
    width: 768;
    height: 520;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  .hr {
    border-top: 2px solid #bbb;
    padding-bottom: 0.50rem;
    width: 49.99rem;
  }
  
  .hrtop {
    border-top: 2px solid #bbb;
    padding-inline-start: 0.50rem;
    width: 49.99rem;
  }
  
  .textconfig {
    color: whitesmoke;
    font-size: 25px;
    font-family: 'Inder', sans-serif;
    padding: 0.25cm;
  }

  .blankspace{
    padding-top: 0.10cm;
  }
  
  .iconconfig{
    color: white;
    size: 50px;
    margin-left: 1rem;
  }
}

/*My Device*/
@media screen and (min-width: 1283px) {
  .imgconfig{
    width: 1283px;
    height: 580px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .titleconfig{
      color: #ffffff;
      font-family: 'Open Sans Condensed', sans-serif;
      padding-top: 1em 0;
      display: flex;
      margin-left: 1rem;
      text-align: left;
      word-break: break-all;
  }
  
  .hr {
    border-top: 2px solid #bbb;
    padding-bottom: 0.50rem;
    width: 120rem;
  }
  
  .hrtop {
      border-top: 2px solid #bbb;
      padding-inline-start: 0.50rem;
      width: 120rem;
    }
  
  .textconfig {
   color: whitesmoke;
   font-size: 25px;
   font-family: 'Inder', sans-serif;
   padding: 0.25cm;
   padding-left: 25rem;
   padding-right: 25rem;
   text-align: left;
  }
  
  .blankspace{
  padding-top: 0.10cm;
  }
  
  .iconconfig{
    color: white;
    size: 50px;
    margin-left: 1rem;
  }
}